@import "tailwindcss";
@layer components {
  .auth-input {
    @apply w-full px-4 py-3 rounded-xl bg-white/10 border border-white/20
    placeholder-gray-300 text-white outline-none
    focus:ring-2 focus:ring-white/40 transition;
  }
}
